.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.landing img {
    width: 9em;
}

.landing .landing-imgbackground {
    width: 11em;
    height: 11em;
    border-radius: 3em;
    background-color: #CCFCE6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #005855;
    font-size: 3.5em;
    margin-top: .5em;
    margin-bottom: 0;
}

.landing h2 {
    margin-top: 5.4em;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #005855;
    font-size: 1.6em;
}

.landing h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #005855;
    margin-top: 0;
    margin-bottom: 1.5em;
    position: relative;
    bottom: 1em;
}

.landing .landing-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing .landing-buttons {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.landing .landing-buttons .landing-buttons-signin {
    background-color: #FF8139;
}

.landing .landing-buttons .landing-buttons-signup {
    background-color: #FFE481;
}

.landing .landing-buttons button {
    width: 146.66px;
    height: 41.33px;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    border: none;
    border-radius: 1em;
}

.landing-footer {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    bottom: 0;
    padding-bottom: 0.5em;
    padding-right: 2em;
    width: 100%;
}

.landing-footer a {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}